* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.alkoholfri-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap as needed */
}



.content-image {
    width: 50%;
    height: auto;
    padding-left: 2%;
}

.tekstfelt {
    max-width: 700px; /* Adjust the max-width as needed */
}

.ptekstfelt {
    margin-bottom: 20px;
}
p {
    font-size: 1.4rem;
}

.infomationtekstbox {
    background-color: #133d28;
    width: 94%;
    margin-bottom: 1%;
}
.infomationtekstbox p {
    color: white;
    padding-left: 3%;
    padding-bottom: 2%;
    padding-right: 3%;
}

.infomationtekstbox h2 {
    color: white;
    padding-left: 3%;
    padding-bottom: 2%;
    padding-top: 1%;
}
.informationflexcontainer {
    display: flex;
    justify-content: center;
}
.imgvariantcontainer img {
    width: 50%;
}